@page
@model Ecommerce_website.Pages.aboutusModel
@{
}
<section class="whole">
        <section class="aboutus">

<h1>About Us </h1>
<p>Welcome to Jeuri of EA, your number one source for mens clothing. We're dedicated to giving you the very best of mens clothing, <br> a focus on
customer satisfaction. Founded in 1999 by Ahmed Abdiqadir,it has come a long way from its beginning. When Ahmed first
started out, his passion for making clothes shopping easier drove him to start the the clothing store and gave him the impetus to turn hard work and inspiration
into to a booming online store. We now serve customers all over the world, 
 and are thrilled to be a part of the eco-friendly wing of the fashion industry.

        
        </section>
        
        <section class=" aboutus1">
            <img src="image/IMG_9917.jpg"  alt="">
            <h2 >Ahmed Abdiqadir</h2>
            <p >Founder</p>
       
            </section>
           
        <section class="contact ">
            <p><i class ="fa fa-phone" ></i><a class= "details">+435654238123</a></p>
            <p><i class ="fa fa fa-envelope" ></i><a class= "details">ahmedowabdiqadir@gmail.com</a></</p>
           
       
            </section>
        </section>